<ion-header>
	<ion-toolbar>
		<ion-title>Speakers</ion-title>

		<ion-buttons slot="primary">
			<ion-button shape="round" (click)="showMenu($event)">
				<ion-icon name="ellipsis-vertical"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-spinner *ngIf="loading$ | async; else speakerList"></ion-spinner>

	<ng-template #speakerList>
		<ng-container *ngIf="speakers$ | async as speakers">
			<speaker-list [speakers]="speakers" (detail)="openDetail($event)" (url)="openUrl($event)"> </speaker-list>
		</ng-container>
	</ng-template>
</ion-content>
