<ion-header>
	<ion-toolbar>
		<ion-title>About</ion-title>

		<ion-buttons slot="primary">
			<ion-button shape="round" (click)="showMenu($event)">
				<ion-icon name="ellipsis-vertical"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="about" [fullscreen]="true">
	<div class="about__header">
		<img src="assets/images/ngbe-logo.svg" />
	</div>

	<div class="ion-padding about__info">
		<ion-list lines="none">
			<ion-item>
				<ion-icon name="calendar-outline" item-left></ion-icon>
				23rd - 24th of March, 2023
			</ion-item>

			<ion-item>
				<ion-icon name="pin" item-left></ion-icon>
				Holiday Inn - Ghent Expo<br />
				Maaltekouter 3, 9051 Ghent, Belgium
			</ion-item>
		</ion-list>
	</div>

	<div class="ion-padding about__description">
		<h3>NG-BE 2023</h3>
		<p>
			NG-BE is <strong>the Belgian Angular conference</strong> and will be held at the beautiful Holiday Inn Ghent, Expo
			venue in Ghent on March 23 & 24, 2023.
		</p>

		<h4>Workshop day</h4>
		<p>
			<strong>March 23 is a multi-track workshop day</strong>, where attendees can learn about the latest Angular
			developments.
		</p>

		<h4>Conference day</h4>
		<p>
			<strong>March 24 is a single-track conference day</strong>. Attendees will be able to listen to talks from
			world-renowned Angular experts while enjoying delicious foods and drinks.
		</p>

		<h4>App credits</h4>
		<p>
			&bull; <a href="https://www.twitter.com/SamVerschueren" target="_blank">Sam Verschueren</a><br />
			&bull; <a href="https://www.twitter.com/fulvio_the1st" target="_blank">Fulvio Gentile</a><br />
			&bull; <a href="https://www.twitter.com/c4rniatto" target="_blank">Mateus Carniatto</a>
		</p>
	</div>
</ion-content>
