.schedule-item-detail {
	h1, h3 {
		font-weight: 100;
	}

	section {
		padding-top: 30px;

		&.schedule-item-detail__info {
			padding-top: 0;
		}
	}

	&__info {
		label {
			font-weight: bold;
			width: 50px;
			display: inline-block;
		}
	}

	&__description {
		p {
			padding: 10px 0;
			margin: 0;
			font-size: 16px;
			line-height: 1.4em;
			font-weight: 100;
			color: #444;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	&__speakers {
		button {
			padding-left: 0;
		}
	}
}
