.speaker-info {
	h3 {
	  	font-weight: 500;
		margin-left: 20px;
		margin-right: 20px;
	}

	&__header {
		display: flex;
		background-size: cover;
		background-position: center;
		height: 250px;
	}

	&__description,
	&__talk-title {
		font-size: 16px;
		line-height: 1.4em;
		margin: 0px 20px;

		p {
			padding: 10px;
			margin: 0;
		}
	}

	&__social {
		background-color: #fafafa;
		border-bottom: 1px solid darken(#fafafa, 10%);
	}

	@media (prefers-color-scheme: dark) {
		&__social {
			background-color: #1a1a1a;
			border-bottom: 1px solid darken(#1a1a1a, 10%);
		}
	}
}
