<div class="speaker-info">
	<div class="speaker-info__header" [style.backgroundImage]="'url(' + speaker.picture + ')'"></div>

	<div class="speaker-info__social" *ngIf="speaker.social">
		<speaker-social-row [social]="speaker.social" (url)="url.emit($event)"> </speaker-social-row>
	</div>

	<section *ngIf="showTalk">
		<h3>Talk</h3>

		<ion-item (click)="onTalkSelect(speaker.talk.id)" detail="true">
			{{ speaker.talk.title }}
		</ion-item>
	</section>

	<section>
		<h3>About {{ speaker.firstName }}</h3>

		<div class="speaker-info__description" [innerHTML]="speaker.description"></div>
	</section>
</div>
